*{
    box-sizing: border-box;
}
.main-footer  {
    height: 3000px;
    position: relative;
}
#footer {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* font-weight:  150; */
}

/* FOOTER TOP */
.footer__top{
    display: flex;
    justify-content:space-between;
    text-align: center;
    background-color: #cf1c35;
    color: white;
    height: 100px;
}

.footer__top__left{
    margin-top: 40px;
    margin-left: 180px;
}

.footer__top__right{
    margin-top: 10px;
    margin-right: 180px;
}

/* THANH EMAIL */
#footer__top__right__searchBox{
    background: white;
    margin-top: 20px;
    border-radius: 18px;
} 

#footer__top__right__searchBox__searchText{
    border: none;
    outline: none;
    font-size: 13px;
    padding: 15px 20px;
    border-radius: 18px;
    width: 350px;
}

#footer__top__right__searchBox__searchButton{
    color: white;
    background-color: black;
    border: none;
    outline: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 18px;
}
/* FOOTER MIDDLE */
.footer__mid{
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
}
/* LEFT */
.footer__mid__left{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}

.footer__mid__left__logo{
    /* margin-left: 70px; */
    margin-bottom: 35px;
    background-color: #cf1c35;
    height: 90px;
    border: none;
    border-radius: 20px;
}

.footer__mid__left__logo img{
    text-align: center;
    justify-content: center;
    margin-left: 60px;
    margin-top: 10px;
}

.footer__mid__left__info__sec1{
    margin-bottom: 30px;
}

.footer__mid__left__info__sec1__item{
    margin-left: 20px;
}

.footer__mid__left__info{
    list-style: none;
    margin-bottom: 40px;
}

.footer__mid__left__info li{
    display: flex;
}

.footer__mid__left__info__sec1__item{
    margin-left: 16px;
    line-height: 1.6;
}

.footer__mid__left__info__sec2__item{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.footer__mid__left__socialLink li{
    list-style: none;
    text-decoration: none;
}

.footer__mid__left__socialLink a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
/* RIGHT */
.footer__mid__right{
    display: flex;
    flex-direction: row;
    margin-right: 180px;
    margin-top: 40px;
}

.footer__mid__right__col{
    margin-left: 60px;
}

.footer__mid__right__col ul{
    margin-top: 30px;
}

.footer__mid__right__col__brands {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding-left: 0;
}

.footer__mid__right__col__brands li{
    list-style: none;
}

.footer__mid__right__col__brands a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer__mid__right__col button{
    background-color: white;
    border-style: none;
    border-color: white;
    cursor: pointer;
    font-weight: inherit;
    padding: 0px;
}
.footer__mid__right__col button:hover{
    color:#cf1c35;
}

/*  câu chuyện  */
.footer__mid__right__col__aboutUs__wrapper-content{
    width: 750px;
    position: absolute;
    z-index: 0;
    height: auto;
    border: black 1px solid;
    top:150px;
    left:390px;
} 

.footer__mid__right__col__aboutUs__wrapper-content__content{
    background-color: #f0f0f0;
    padding: 10px;
    width: auto;
    height: 254px;
    text-align: left;
    line-height: 1.6;
}
.footer__mid__right__col__aboutUs__wrapper-content__content h3{
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.footer__mid__right__col__aboutUs__wrapper-content__content p{
    padding: 0px;
    margin: 0px;
    text-align: left;
    margin-top: 20px;
}
.footer__mid__right__col__aboutUs__wrapper-content__top-content{
    height: 25px;
    background-color: #cf1c35;
    width: auto;
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  
/* .footer__mid__right .footer__mid__right__col  .footer__mid__right__col__aboutUs__wrapper-content .footer__mid__right__col__aboutUs__wrapper-content__topcontent__top-content-left{

} */
.footer__mid__right__col__aboutUs__wrapper-content__top-content__top-content-right{
    width: 25px;
    border-left: black 1px solid;
    font-size: 20px;
    /* justify-content: center; */
    text-align: center;
}
.footer__mid__right__col__aboutUs__wrapper-content__top-content__top-content-right:hover{
    background-color: #d66f7c;
}

.footer__mid__right__col__categories,.footer__mid__right__col .footer__mid__right__col__aboutUs {
    display:flex;
    flex-direction: column;
    padding-left: 0;
}

.footer__mid__right__col__categories li, .footer__mid__right__col__aboutUs li{
    list-style: none;
    margin-bottom: 15px;
}

.footer__mid__right__col__categories a, .footer__mid__right__col__aboutUs a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer__mid__right__col__categories a:hover, .footer__mid__right__col__aboutUs a:hover{
    color: #cf1c35;
}
/* FOOTER BOT */
.footer__bot{
    display: flex;
    justify-content:space-between;
    background-color: #f0f0f0;
    height: 60px;
}

.footer__bot__left{
    margin-top: 25px;
    margin-left: 180px;
}

.footer__bot__right{
    margin-right: 180px;
    display: flex;
}

.footer__bot__right .img{
    margin-left: 18px;
    margin-top: 18px;
}